{% extends 'adminbase.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}

    <h1>User index</h1>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Username</th>
                <th>Email</th>
                <th>IsActive</th>
                <th>LastLogin</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CrExpireAt</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="align-middle">{{ user.id }}</td>
                <td class="align-middle">{{ user.fullName }}</td>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.email }}</td>
                <td class="align-middle">{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td class="align-middle">{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle">{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle">{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle">{{ user.credentialExpireAt ? user.credentialExpireAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="align-middle">{% for role in user.roles %}{{role}}{% endfor %}</td>
                <td class="align-middle">
                    <div class="btn-group"> 
                        <a class="btn btn-info btn-sm" href="{{ path('admin_user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i> show</a>
                        <a class="btn btn-info btn-sm" href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i> edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('admin_user_new') }}" role="button"><i class="fas fa-plus"></i> Create new</a>
    
{% endblock %}
